@font-face {
	font-family: "UbuntuSansMono";
	src: url("UbuntuSansMono.woff2");
}

body {
	margin: 0;
}

main {
	--box-size: 10vw;

	margin: 0;
	height: 100vh;
	width: 100vw;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-family: "UbuntuSansMono", sans-serif;
	font-size: calc(var(--box-size) * 4 / 5);
	font-weight: bold;
}

#goal {
	border: calc(0.05 * var(--box-size)) #000 solid;
	border-radius: calc(0.1 * var(--box-size));
	height: var(--box-size);
	width: calc(3 * var(--box-size));
	background: #fff;
	text-align: center;
	font: inherit;
	color: #080;
}
#goal.wide {
	width: calc(6 * var(--box-size));
}

#timers {
	width: calc(8.25 * var(--box-size));
	display: flex;
	justify-content: space-evenly;
}

#timers svg {
	width: var(--box-size);
	height: var(--box-size);
}

circle {
	transform-origin: 50% 50%;
	transform: rotate(-90deg);
	fill: #ddd;
	stroke: #000;
	stroke-width: 6%;
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
	stroke-linecap: round;
}
.full circle {
	stroke-dashoffset: 0;
	fill: #080;
}
.animate:not(.full) circle {
	transition: 5s linear;
}
.animate-start.full circle {
	transition: 0.25s linear;
}

#pad {
	width: 100vw;
	display: flex;
	justify-content: space-evenly;
	transition: 0.5s ease;
}

button {
	border: calc(0.05 * var(--box-size)) #000 solid;
	border-radius: calc(0.1 * var(--box-size));
	height: var(--box-size);
	width: var(--box-size);
	background: #fff;
	font: inherit;
	color: #0f0;
	transition: 0.5s ease;
}
[data-bit]::after {
	content: attr(data-bit);
}
[data-bit="1"] {
	background: #000;
}

.hidden {
	display: none;
}

@media(orientation: portrait){
	#goal {
		border: calc(0.1 * var(--box-size)) #000 solid;
		border-radius: calc(0.2 * var(--box-size));
		height: calc(2 * var(--box-size));
		width: calc(6 * var(--box-size));
		font: inherit;
		font-size: calc(var(--box-size) * 8 / 5);
	}
	#goal.wide {
		width: calc(9 * var(--box-size));
	}

}