#install-banner {
	--box-size: 10vw;

	display: none;
	position: fixed;
	top: 10vh;
	left: 10vw;

	border: calc(0.1 * var(--box-size)) #000 solid;
	border-radius: calc(0.5 * var(--box-size));
	width: calc(80vw - 0.3 * var(--box-size));

	background: #0f0;
	padding: calc(0.15 * var(--box-size));
	text-align: center;
	font-size: 2vw;
}

#install-invite {
	display: block;
}

#install-invite div {
	display: flex;
	justify-content: space-around;
}

#install-button,
#noinstall-button,
#closeinstall-button {
	border-radius: calc(0.2 * var(--box-size));
	width: 20vw;
	padding: calc(0.05 * var(--box-size));
	font-weight: bold;
	color: #fff;
}

#install-button {
	background: #00f;
}

#noinstall-button,
#closeinstall-button {
	background: #f00;
}

#install-instructions {
	display: none;
}